body {
  background-image: url("./img/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-family: "Manufacturing Consent", system-ui;
  color: #902923;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-size: 4rem;
}

p {
  font-family: "Crimson Pro", serif;
  color: #d6d5c9;
}

#intro {
  text-align: center;
  border: 2px double #d6d5c9;
  padding: 20px;
  width: 80%;
  margin: auto;
  margin-top: 30px;
  font-size: 1.2rem;
  line-height: 1.3;
  background: rgba(0, 0, 0, 0.5);
}

#choose_body_part {
  font-family: "Manufacturing Consent", system-ui;
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
  color: #d6d5c9;
}

#body_parts_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  justify-items: center;
  align-items: stretch;
  margin-top: 2rem;
}

.side_column {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  gap: 20px;
  justify-items: center;
}

.middle_column {
  display: flex;
  justify-content: center;
  align-items: center;
}

#skeleton {
  display: block;
  margin: auto;
  margin-top: 3rem;
  width: 300px;
}

.circle_container {
  width: 100px;
  height: 100px;
  background: #d6d5c9;
  border: 5px double #333;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#brain {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

#ear {
  width: 55px;
  height: 70px;
}

#eye {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

#guts {
  width: 110px;
  height: 100px;
  margin-left: 0.5rem;
  object-fit: cover;
}

#heart {
  width: 120px;
  height: 100px;
  margin-left: 1.75rem;
  object-fit: cover;
}

#hips {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

#kidney {
  width: 55px;
  height: 70px;
  object-fit: cover;
}

#skull {
  width: 55px;
  height: 70px;
  margin-bottom: 0.5rem;
  object-fit: cover;
}

#jaw {
  width: 55px;
  height: 55px;
}

#torso {
  width: 70px;
  height: 90px;
  object-fit: cover;
}

#footer {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-family: "Crimson Pro", serif;
  color: #d6d5c9;
}
